# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
GLTest.VC.db
GLTest.VC.VC.opendb
.vs/GLTest/v14/.suo
Debug/GLTest.ilk
Debug/GLTest.pdb
GLTest/GLTest.vcxproj.user
GLTest/Debug/GLTest.Build.CppClean.log
GLTest/Debug/GLTest.log
GLTest/Debug/vc140.idb
GLTest/Debug/vc140.pdb
GLTest/Debug/GLTest.tlog/CL.command.1.tlog
GLTest/Debug/GLTest.tlog/CL.read.1.tlog
GLTest/Debug/GLTest.tlog/CL.write.1.tlog
GLTest/Debug/GLTest.tlog/GLTest.lastbuildstate
GLTest/Debug/GLTest.tlog/link.command.1.tlog
GLTest/Debug/GLTest.tlog/link.read.1.tlog
GLTest/Debug/GLTest.tlog/link.write.1.tlog
GLTest/x64/Debug/GLTest.Build.CppClean.log
GLTest/x64/Debug/GLTest.log
GLTest/x64/Debug/vc140.idb
GLTest/x64/Debug/vc140.pdb
GLTest/x64/Debug/GLTest.tlog/CL.command.1.tlog
GLTest/x64/Debug/GLTest.tlog/CL.read.1.tlog
GLTest/x64/Debug/GLTest.tlog/CL.write.1.tlog
GLTest/x64/Debug/GLTest.tlog/GLTest.lastbuildstate
GLTest/x64/Debug/GLTest.tlog/unsuccessfulbuild
